 <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%">
                                            <tbody>
                                                <tr style="vertical-align: top;"  width="100%" style="width:100%">
                                                    <td align="left"
                                                        style="width: 30px;padding-top:5px;padding-bottom:5px;"
                                                        width="40">
                                                        <img alt="" src="./assets/images/icon-list.png"
                                                            style="vertical-align: top;margin-top: 5px;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                    </td>
                                                    <td align="left" style="padding-top:5px;padding-bottom:5px;">
                                                        <p
                                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #515a5f;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry.</p>
                                                    </td>
                                                </tr>
                                                <tr style="vertical-align: top;"  width="100%" style="width:100%">
                                                    <td align="left"
                                                        style="width: 30px;padding-top:5px;padding-bottom:5px;"
                                                        width="30">
                                                        <img alt="" src="./assets/images/icon-list.png"
                                                            style="vertical-align: top;margin-top: 5px;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                    </td>
                                                    <td align="left" style="padding-top:5px;padding-bottom:5px;">
                                                        <p
                                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #515a5f;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem  Ipsum has been the
                                                            industry's standard dummy text ever.</p>
                                                    </td>
                                                </tr>
                                                <tr style="vertical-align: top;"  width="100%" style="width:100%">
                                                    <td align="left"
                                                        style="width: 30px;padding-top:5px;padding-bottom:5px;"
                                                        width="30">
                                                        <img alt="" src="./assets/images/icon-list.png"
                                                            style="vertical-align: top;margin-top: 5px;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                    </td>
                                                    <td align="left" style="padding-top:5px;padding-bottom:5px;">
                                                        <p
                                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #515a5f;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                                                            Lorem Ipsum is simply dummy text .</p>
                                                    </td>
                                                </tr>
                                                <tr style="vertical-align: top;"  width="100%" style="width:100%">
                                                    <td align="left"
                                                        style="width: 30px;padding-top:5px;padding-bottom:5px;"
                                                        width="30">
                                                        <img alt="" src="./assets/images/icon-list.png"
                                                            style="vertical-align: top;margin-top: 5px;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                    </td>
                                                    <td align="left" style="padding-top:5px;padding-bottom:5px;">
                                                        <p
                                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #515a5f;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the
                                                            industry's standard dummy text ever.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>