<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="mb-full mb-pd-0" style="width:170px;padding-top:10px;padding-bottom:10px" valign="top">
                <a href="http://fe.asiadigitalhub.com/edms/insead/email-template/#">
                    <img alt="Article" src="./assets/images/Clip_A0_Group_54_pattern.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto!important" width="100%"></a>
            </td>
            <td class="mb-full mb-pd-0" style="padding-left:28px;padding-right:10px;padding-top:10px;padding-bottom:10px;vertical-align: top;">
                <p style="font-family:Arial,sans-serif;font-size: 16px;line-height:20px;color:#00684b;text-align:left;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                    <strong>Lorem Ipsum is simply dummy text of</strong>
                </p>
                <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px">The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%" width="100%">
                    <tbody>
                        <tr>
                            <td align="right" class="middle" style="width:100%;color: #515a5f;vertical-align: middle;font-family: Arial;padding-top:10px" valign="right">
                                <a href="#" style="font-family: Arial;color:#515a5f;display: inline-block;text-decoration: underline;font-size:14px;">Learn More >></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="mb-full mb-pd-0" style="width:170px;padding-top:10px;padding-bottom:10px" valign="top">
                <a href="http://fe.asiadigitalhub.com/edms/insead/email-template/#">
                    <img alt="Article" src="./assets/images/Clip_A0_Group_53_pattern.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto!important" width="100%"></a>
            </td>
            <td class="mb-full mb-pd-0" style="padding-left:28px;padding-right:10px;padding-top:10px;padding-bottom:10px;vertical-align: top;">
                <p style="font-family:Arial,sans-serif;font-size: 16px;line-height:20px;color:#00684b;text-align:left;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                    <strong>Lorem Ipsum is simply dummy text of</strong>
                </p>
                <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px">
                    The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%" width="100%">
                    <tbody>
                        <tr>

                            <td align="right" class="middle" style="width:100%;color: #515a5f;vertical-align: middle;font-family: Arial;padding-top:10px" valign="right">
                                <a href="#" style="font-family: Arial;color:#515a5f;display: inline-block;text-decoration: underline;font-size:14px;">Learn
                                                                                                                                                    More >></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
