<table border="0" cellpadding="0" cellspacing="0" style="width: 100%" width="100%">
    <tbody>
        <tr>
            <td style="width:350px;height:35px"></td>
            <td align="center" class="middle" style="width:190px;background: #00684b;vertical-align: middle;" valign="center">
                <a href="#" style="font-family: Arial;color:#ffffff;display: block;text-decoration:none;font-size:14px;font-weight:bold;line-height:35px;height:35px;width:190px">Learn More & Register <img src="./assets/images/arrow-right.png" style="vertical-align: middle;;width:7px;height: 11px;border:none;display:inline-block;outline:none;"/></a>
            </td>
        </tr>
    </tbody>
</table>
