<table border="0" cellpadding="0" cellspacing="0" style="width: 100%" width="100%">
    <tbody>
        <tr>

            <td align="right" class="middle" style="width:100%;color: #515a5f;vertical-align: middle;font-family: Arial;" valign="right">
                <a href="#" style="font-family: Arial;color:#515a5f;display: inline-block;text-decoration: underline;font-size:14px;line-height:35px;height:35px; width:90px; text-align:center">
                    Apply Now</a>
                |
                <a href="#" style="font-family: Arial;color:#515a5f;display: inline-block;text-decoration: underline;font-size:14px;line-height:35px;height:35px; width:90px; text-align:center">Brochure</a>
                |
                <a href="#" style="font-family: Arial;color:#515a5f;display: inline-block;text-decoration: underline;font-size:14px;line-height:35px;height:35px;width:120px; text-align:center">Reserve
                                                                                                                                        a Seat</a>
            </td>
        </tr>
    </tbody>
</table>
