<style> 
    .three__cols__readmore .readmore td p {
      width: 112px !important;
      font-size: 12px !important;
    }

    .three__cols__readmore .readmore .first {
        width: 15px;
    }

    .three__cols__readmore .readmore .last {
        width: 15px;
    }

    .three__cols__readmore .readmore .middle {
        width: 200px;
    } 
     @media only screen and (max-width:321px) {
            .three__cols__readmore .readmore td.first {
                padding-right: 5px !important;
            } 
            .three__cols__readmore .readmore td.last {
                padding-left: 5px !important;
            } 
            .three__cols__readmore .readmore td a {
                width: 94px !important;
                font-size: 11px !important;
            }
        }
</style>
<table border="0" cellpadding="0" cellspacing="0" class="three__cols__readmore" width="100%" style="width:100%">
    <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="readmore">
                    <tbody>
                        <tr>
                            <td></td>
                            <td align="center" class="middle" valign="center">
                                <a href="#" style=" font-family: Arial, sans-serif;color:#ffffff;text-decoration:none">Apply
                                                                                                Now</a>
                            </td>
                            <td class="last"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="readmore">
                    <tbody>
                        <tr>
                            <td class="first"></td>
                            <td align="center" class="middle" valign="center">
                                <a href="#" style="font-family: Arial, sans-serif;color:#ffffff;text-decoration:none">Brochure</a>
                            </td>
                            <td class="last"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="readmore">
                    <tbody>
                        <tr>
                            <td class="first"></td>
                            <td align="center" class="middle" valign="center">
                                <a href="#" style="font-family: Arial, sans-serif;color:#ffffff;text-decoration:none">Reserve
                                                                                                a
                                                                                                Seat</a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
