{% extends "./_templates/layout.twig" %}
{% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive"
    style="width: 600px;background-color:#ffffff;" width="600">
    <tbody>
        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="10000 cơ hội trải nghiệm ensure gold hương trà xanh mới, Cảm ơn bạn đã đăng ký tham gia & thỏa điều kiện quay số trúng thưởng để có cơ hội nhận 1 trong 10,000 phần quà đặc biệt từ chương trình: "
                    src="assets/images/1A/banner.jpg"
                    style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>

        <tr class="section-2" style="text-align: center;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:304px;text-align:right;" valign="top">
                                <a href="https://ensure.com.vn"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="Lon Ensure gold 400g, hương trà xanh mới "
                                        src="assets/images/1A/product1.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:304px"
                                        width="304">
                                </a>
                            </th>
                            <th style="font-size: 0;line-height:0;width:296px;text-align:right;" valign="top">
                                <a href="https://ensure.com.vn"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="Bộ 02 gói Ensure Gold 60,6G hương trà xanh mới"
                                        src="assets/images/1A/product2.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:296px"
                                        width="296">
                                </a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr class="section-2" style="text-align: center;background-color:#032c67;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:135px;text-align:right;" valign="top">
                                <img alt="coner1" src="assets/images/1A/coner1.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:135px"
                                    width="135">
                            </th>
                            <th style="width: 358px;background-color:#032c67;" valign="top">
                                <p
                                    style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #ffffff;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Chương trình diễn ra từ 30/08 – 30/11/2019.
                                </p>
                                <p
                                    style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #ffffff;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Việc quay số được thực hiện thành 10 đợt tương ứng với thời gian đăng ký của bạn.
                                    Giải thưởng mỗi đợt bao gồm 100 lon 400g và 900 bộ 2 gói 60,6g Ensure Gold hương trà
                                    xanh mới.
                                </p>
                                <p
                                    style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #ffffff;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Kết quả của bạn sẽ được thông báo qua email.

                                </p>
                            </th>
                            <th style="font-size: 0;line-height:0;width:113px;text-align:right;" valign="top">
                                <img alt="coner2" src="assets/images/1A/coner2.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:113px"
                                    width="113">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="" src="assets/images/1A/coner-midle.jpg"
                    style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>


        <tr class="section-2" style="text-align: center;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:467px;text-align:right;" valign="top">
                                <img alt="Mọi thắc mắc vui lòng gửi tin nhắn đến, Tìm hiểu bí quyết chăm sóc sức khỏe người lớn tuổi  "
                                    src="assets/images/1A/text1.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:467px"
                                    width="467">
                            </th>
                            <th style="font-size: 0;line-height:0;width:65px;text-align:right;" valign="top">
                                <a href="https://ensure.com.vn/hmb/mat-co-va-hmb"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="tại đây" src="assets/images/1A/cta.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:65px"
                                        width="65">
                                </a>
                            </th>
                            <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                <img alt="coner3" src="assets/images/1A/coner3.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px"
                                    width="68">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="section-2" style="text-align: center;background-color:#00386c;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                <img alt="coner4" src="assets/images/1A/coner4.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px"
                                    width="68">
                            </th>
                            <th style="font-size: 0;line-height:0;width:199px;text-align:right;" valign="top">
                                <a href="https://facebook.com/ensuregoldvietnam/"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="link face" src="assets/images/1A/link-face.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                        width="199">
                                </a>
                                <img alt="or" src="assets/images/1A/or.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                    width="199">
                                <a href="tel:19001519"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="19001519" src="assets/images/1A/link-call.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                        width="199">
                                </a>
                                <img alt="code" src="assets/images/1A/code.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                    width="199">
                            </th>
                            <th style="font-size: 0;line-height:0;width:333px;text-align:right;" valign="top">
                                <img alt="coner5" src="assets/images/1A/coner5.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:333px"
                                    width="333">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

                <p
                    style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
                    Nhấn
                    <a href="#" target="_blank" style="color: #0855d3; text-decorate:none;">unsubscribe</a>
                    đề từ chối nhận thông tin
                    <br>
                    Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
                </p>
            </td>
        </tr>

    </tbody>
</table>{% endblock %}