{% extends "./_templates/layout.twig" %}
{% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive"
    style="width: 600px;background-color:#ffffff;" width="600">
    <tbody>
        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="ENSURE GOLD CẢM ƠN BẠN đã đăng ký tham gia chương trình 10,0000 cơ hội trải nghiệm miễn phí Ensure Gold Hương Trà Xanh Mới. "
                    src="assets/images/1B/banner.jpg"
                    style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>


        <tr class="section-2" style="text-align: center;background-color:#032c67;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:107px;text-align:right;" valign="top">
                                <img alt="coner1" src="assets/images/1B/coner1.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:107px"
                                    width="107">
                            </th>
                            <th style="font-size: 0;line-height:0;width:140px;text-align:right;" valign="top">
                                <a href="#"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="Theo Thể lệ chương trình, đây là ưu đãi dành riêng cho khách hàng mới chưa từng đăng ký thông tin với Ensure Gold vòng trong 12 tháng gần nhất. Rất tiếc, bạn không thỏa điều kiện để tham gia chương trình quay số may mắn này vì có thể trước đây bạn đã từng đăng ký tham gia một trong các chương trình sau của Ensure Gold: "
                                        src="assets/images/1B/tnc.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:140px"
                                        width="140">
                                </a>
                                <img alt="coner1" src="assets/images/1B/text-bottom.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:140px"
                                    width="140">
                            </th>
                            <th style="font-size: 0;line-height:0;width:353px;text-align:right;" valign="top">
                                <img alt="coner2" src="assets/images/1B/coner2.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:353px"
                                    width="353">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="section-2" style="text-align: center;background-color:#032c67;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:136px;text-align:right;" valign="top">
                                <img alt="coner3" src="assets/images/1B/coner3.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:136px"
                                    width="136">
                            </th>
                            <th style="width: 371px;background-color:#032c67;" valign="top">
                                <p
                                    style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #ffffff;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Đăng ký mua hàng trên website.
                                </p>
                                <p
                                    style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #ffffff;margin-top:17px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Tham gia các hoạt động khuyến mãi/ đổi quà tại cửa hàng.

                                </p>
                                <p
                                    style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #ffffff;margin-top:17px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Đăng ký nhận gói dùng thử,...
                                </p>
                            </th>
                            <th style="font-size: 0;line-height:0;width:93px;text-align:right;" valign="top">
                                <img alt="coner4" src="assets/images/1B/coner4.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:93px"
                                    width="93">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="Cảm ơn bạn đã luôn đồng hành cùng các chương trình của Ensure Gold. VUI LÒNG THAM KHẢO ƯU ĐÃI KHÁC DÀNH CHO BẠN TẠI:"
                    src="assets/images/1B/text1.jpg"
                    style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>
        <tr class="section-2" style="text-align: center;background-color:#032c67;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:151px;text-align:right;" valign="top">
                                <img alt="coner5" src="assets/images/1B/coner5.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:151px"
                                    width="151">
                            </th>

                            <th style="font-size: 0;line-height:0;width:97px;text-align:right;" valign="top">
                                <a href="https://www.lazada.vn/shop/abbott-ensure-chinh-hang"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="lazada" src="assets/images/1B/laz.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:97px"
                                        width="97">
                                </a>
                            </th>
                            <th style="font-size: 0;line-height:0;width:103px;text-align:right;" valign="top">
                                <a href="https://tiki.vn/dinh-duong-cho-nguoi-lon/c10418?q=ensure&seller"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="tiki" src="assets/images/1B/tiki.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:103px"
                                        width="103">
                                </a>
                            </th>
                            <th style="font-size: 0;line-height:0;width:99px;text-align:right;" valign="top">
                                <a href="https://shopee.vn/abbottofficial"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="shopee" src="assets/images/1B/shopee.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:99px"
                                        width="99">
                                </a>
                            </th>
                            <th style="font-size: 0;line-height:0;width:150px;text-align:right;" valign="top">
                                <img alt="coner6" src="assets/images/1B/coner6.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:150px"
                                    width="150">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="" src="assets/images/1B/coner-bottom.jpg"
                    style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>

        <tr class="section-2" style="text-align: center;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:467px;text-align:right;" valign="top">
                                <img alt="Mọi thắc mắc vui lòng gửi tin nhắn đến, Tìm hiểu bí quyết chăm sóc sức khỏe người lớn tuổi  "
                                    src="assets/images/1B/text2.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:467px"
                                    width="467">
                            </th>
                            <th style="font-size: 0;line-height:0;width:65px;text-align:right;" valign="top">
                                <a href="https://ensure.com.vn/hmb/mat-co-va-hmb"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="tại đây" src="assets/images/1B/cta.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:65px"
                                        width="65">
                                </a>
                            </th>
                            <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                <img alt="coner8" src="assets/images/1B/coner8.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px"
                                    width="68">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="section-2" style="text-align: center;background-color:#00386c;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                <img alt="coner9" src="assets/images/1B/coner9.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px"
                                    width="68">
                            </th>
                            <th style="font-size: 0;line-height:0;width:199px;text-align:right;" valign="top">
                                <a href="https://www.facebook.com/ensuregoldvietnam/"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="link face" src="assets/images/1B/link-face.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                        width="199">
                                </a>
                                <img alt="or" src="assets/images/1B/or.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                    width="199">
                                <a href="tel:19001519"
                                    style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                                    target="_blank">
                                    <img alt="19001519" src="assets/images/1B/link-call.jpg"
                                        style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                        width="199">
                                </a>
                                <img alt="code" src="assets/images/1B/code.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px"
                                    width="199">
                            </th>
                            <th style="font-size: 0;line-height:0;width:333px;text-align:right;" valign="top">
                                <img alt="coner10" src="assets/images/1B/coner10.jpg"
                                    style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:333px"
                                    width="333">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr>
            <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

                <p
                    style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
                    Nhấn
                    <a href="#" target="_blank" style="color: #0855d3; text-decorate:none;">unsubscribe</a>
                    đề từ chối nhận thông tin
                    <br>
                    Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
                </p>
            </td>
        </tr>

    </tbody>
</table>{% endblock %}