{% extends "./_templates/layout.twig" %}
{% block page %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive" style="width: 600px;background-color:#ffffff;" width="600">
        <tbody>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="ENSURE GOLD CẢM ƠN BẠN đã đăng ký tham gia chương trình 10,0000 cơ hội trải nghiệm miễn phí Ensure Gold Hương Trà Xanh Mới. " src="assets/images/2-nowin/banner.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>


            <tr class="section-2" style="text-align: center;background-color:#032c67;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:113px;text-align:right;" valign="top">
                                    <img alt="coner1" src="assets/images/2-nowin/coner1.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:113px" width="113">
                                </th>
                                <th style="font-size: 0;line-height:0;width:209px;text-align:right;" valign="top">
                                    <a href="#" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="Theo kết quả quay số trúng thưởng, rất tiếc bạn không may mắn nằm trong danh sách khách hàng trúng thưởng được nhận quà tặng từ chương trình. " src="assets/images/2-nowin/ketqua.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:209px" width="209">
                                    </a>
                                </th>
                                <th style="font-size: 0;line-height:0;width:278px;text-align:right;" valign="top">
                                    <img alt="coner2" src="assets/images/2-nowin/coner2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:278px" width="278">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="Như một lời cảm ơn bạn đã quan tâm đến Ensure Gold và chương trình này, Ensure Gold dành tặng bạn Quà tặng đặc biệt khi đặt mua dùng thử 1 lon Ensure Gold. Ưu đãi độc quyền:  " src="assets/images/2-nowin/coner-midle.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;background-color:#032c67;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:108px;text-align:right;" valign="top">
                                    <img alt="coner3" src="assets/images/2-nowin/coner3.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:108px" width="108">
                                </th>
                                <th style="font-size: 0;line-height:0;width:69px;text-align:right;" valign="top">
                                    <a href="tel:1800558891" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="call" src="assets/images/2-nowin/icon-call.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:69px" width="69">
                                    </a>
                                </th>
                                <th style="font-size: 0;line-height:0;width:423px;text-align:right;" valign="top">
                                    <img alt="Gọi Hotline 1800 558891  để được tư vấn mua hàng & nhận ngay ưu đãi." src="assets/images/2-nowin/coner4.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:423px" width="423">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="" src="assets/images/2-nowin/coner-bottom.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:467px;text-align:right;" valign="top">
                                    <img alt="Mọi thắc mắc vui lòng gửi tin nhắn đến, Tìm hiểu bí quyết chăm sóc sức khỏe người lớn tuổi  " src="assets/images/2-nowin/text2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:467px" width="467">
                                </th>
                                <th style="font-size: 0;line-height:0;width:65px;text-align:right;" valign="top">
                                    <a href="https://ensure.com.vn/san-pham" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="tại đây" src="assets/images/2-nowin/cta.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:65px" width="65">
                                    </a>
                                </th>
                                <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                    <img alt="coner8" src="assets/images/2-nowin/coner8.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px" width="68">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;background-color:#00386c;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                    <img alt="coner9" src="assets/images/2-nowin/coner9.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px" width="68">
                                </th>
                                <th style="font-size: 0;line-height:0;width:199px;text-align:right;" valign="top">
                                    <a href="tel:19001519" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="19001519" src="assets/images/2-nowin/link-call.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                    </a>
                                    <img alt="or" src="assets/images/2-nowin/or.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                    <a href="https://www.facebook.com/ensuregoldvietnam/" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="link face" src="assets/images/2-nowin/link-face.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                    </a>
                                    <img alt="code" src="assets/images/2-nowin/code.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                </th>
                                <th style="font-size: 0;line-height:0;width:333px;text-align:right;" valign="top">
                                    <img alt="coner10" src="assets/images/2-nowin/coner10.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:333px" width="333">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

                    <p style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
                        Nhấn
                        <a href="#" target="_blank" style="color: #0855d3; text-decorate:none;">unsubscribe</a>
                        đề từ chối nhận thông tin
                        <br>
                        Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}
