{% extends "./_templates/layout.twig" %}
{% block page %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive" style="width: 600px;background-color:#ffffff;" width="600">
        <tbody>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="CHÚC MỪNG BẠN ĐÃ MAY MẮN TRÚNG THƯỞNG TRONG CHƯƠNG TRÌNH 10,000 CƠ HỘI TRẢI NGHIỆM MIỄN PHÍ ENSURE GOLD HƯƠNG TRÀ XANH " src="assets/images/2-win/banner.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>


            <tr class="section-2" style="text-align: center;background-color:#032c67;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:413px;text-align:right;" valign="top">
                                    <img alt="coner1" src="assets/images/2-win/coner1.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:413px" width="413">
                                </th>
                                <th style="font-size: 0;line-height:0;width:61px;text-align:right;" valign="top">
                                    <a href="#" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="Tham khảo kết quả quay số và chi tiết giải thưởng của bạn TẠI ĐÂY. Bộ phận Chăm sóc khách hàng sẽ liên hệ bạn trong thời gian sớm nhất để thông báo Giải thưởng và xác nhận địa chỉ giao giải thưởng. " src="assets/images/2-win/ketqua.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:61px" width="61">
                                    </a>
                                </th>
                                <th style="font-size: 0;line-height:0;width:126px;text-align:right;" valign="top">
                                    <img alt="coner2" src="assets/images/2-win/coner2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:126px" width="126">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="Với mong muốn có thể mang đến bạn trải nghiệm trọn vẹn hơn,  Ensure Gold tặng thêm bạn Quà tặng đặc biệt nếu đặt mua thêm 1 lon Ensure Gold.Ưu đãi độc quyền: Dành riêng cho bạn và không áp dụng tại các cửa hàng bán lẻ. Chỉ có hiệu lực trong vòng 10 ngày (kể từ hôm nay).  " src="assets/images/2-win/coner-midle.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;background-color:#032c67;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:108px;text-align:right;" valign="top">
                                    <img alt="coner3" src="assets/images/2-win/coner3.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:108px" width="108">
                                </th>
                                <th style="font-size: 0;line-height:0;width:69px;text-align:right;" valign="top">
                                    <a href="tel:1800558891" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="call" src="assets/images/2-win/icon-call.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:69px" width="69">
                                    </a>
                                </th>
                                <th style="font-size: 0;line-height:0;width:423px;text-align:right;" valign="top">
                                    <img alt="Gọi Hotline 1800 558891  để được tư vấn mua hàng & nhận ngay ưu đãi." src="assets/images/2-win/coner4.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:423px" width="423">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="" src="assets/images/2-win/coner-bottom.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:467px;text-align:right;" valign="top">
                                    <img alt="Mọi thắc mắc vui lòng gửi tin nhắn đến, Tìm hiểu bí quyết chăm sóc sức khỏe người lớn tuổi  " src="assets/images/2-win/text2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:467px" width="467">
                                </th>
                                <th style="font-size: 0;line-height:0;width:65px;text-align:right;" valign="top">
                                    <a href="https://ensure.com.vn/san-pham" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="tại đây" src="assets/images/2-win/cta.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:65px" width="65">
                                    </a>
                                </th>
                                <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                    <img alt="coner8" src="assets/images/2-win/coner8.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px" width="68">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;background-color:#00386c;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:68px;text-align:right;" valign="top">
                                    <img alt="coner9" src="assets/images/2-win/coner9.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:68px" width="68">
                                </th>
                                <th style="font-size: 0;line-height:0;width:199px;text-align:right;" valign="top">
                                    <a href="https://www.facebook.com/ensuregoldvietnam/" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="link face" src="assets/images/2-win/link-face.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                    </a>
                                    <img alt="or" src="assets/images/2-win/or.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                    <a href="tel:19001519" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                        <img alt="19001519" src="assets/images/2-win/link-call.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                    </a>
                                    <img alt="code" src="assets/images/2-win/code.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:199px" width="199">
                                </th>
                                <th style="font-size: 0;line-height:0;width:333px;text-align:right;" valign="top">
                                    <img alt="coner10" src="assets/images/2-win/coner10.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:333px" width="333">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

                    <p style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
                        Nhấn
                        <a href="#" target="_blank" style="color: #0855d3; text-decorate:none;">unsubscribe</a>
                        đề từ chối nhận thông tin
                        <br>
                        Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}
