{% extends "./_templates/layout.twig" %}
{% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive"
  style="width: 600px;background-color:#ffffff;" width="600">
  <tbody>
    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M6-8/banner.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>


    <tr class="section-2" style="text-align: center;">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
          <tbody>
            <tr>
              <th style="font-size: 0;line-height:0;width:70px;text-align:right;" valign="top">
                <img alt="coner1" src="assets/images/M6-8/coner1.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:77px"
                  width="77">
              </th>
              <th style="width: 446px;background-color:#ffffff;" valign="top">
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Mẹ có biết, trong giai đoạn 6-8 tháng tuổi, bé yêu của mẹ đã biết nhận thức, học hỏi và ghi nhớ khá
                  tốt?

                </p>
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:25px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Các dấu hiệu của một em bé năng động, thông minh ở giai đoạn này chính là: bé nhận biết tên của mình,
                  nhân ra tiếng gọi của ba mẹ, bé cũng thích nói chuyện vui vẻ, chơi ú oà và đáp lại ba mẹ bằng các từ ê
                  a, đây cũng là biểu hiện của những bước đầu phát triển khả năng ngôn ngữ.

                </p>
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:35px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Mẹ hãy giúp bé phát triển trí não bằng các trò chơi tương tác và một chế độ dinh dưỡng đầy đủ, cung
                  cấp cho bé các dưỡng chất cần thiết cho não bộ như DHA, Lutein, AA, Omega 3, Omega6, Taurine,
                  Choline…Mẹ đừng quên bộ ba dưỡng chất vàng DHA, Lutein và Vitamin E tự nhiên kết hợp cùng nhau để đảm
                  bảo dinh dưỡng cần thiết cho phát triển
                  trí não và thị giác nhé.
                </p>



                <img alt="SPACE" src="./assets/images/M6-8/space.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:446px;"
                  width="446">
              </th>

              <th style="font-size: 0;line-height:0;width:70px;text-align:right;" valign="top">
                <img alt="coner2" src="assets/images/M6-8/coner2.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:77px"
                  width="77">
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M6-8/coner-midle.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>

    <tr class="section-2" style="background: #bce3ff" bgcolor="#ffffff">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#bce3ff">
          <tbody>
            <tr>
              <th style="width: 25px;text-align:left;line-height:0;font-size:0;" width="25" valign="top">
                &nbsp;
              </th>
              <th valign="top">
                <p
                  style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #347eb5;margin-top:12px;margin-bottom:10px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                  Hãy tìm hiểu về tầm quan trọng của phát triển trí não <br />
                  trong giai đoạn đầu đời tại:
                </p>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="https://similac.com.vn/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-site" src="assets/images/M6-8/link-site.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.facebook.com/similacvietnam/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-face" src="assets/images/M6-8/link-face.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th style="width: 27px;">&nbsp;
                      </th>
                      <th style="width: 336px">
                        <p
                          style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #347eb5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                          Để được tư vấn trực tiếp
                        </p>
                      </th>
                      <th style="text-align:right; width:27px;" valign="top">
                        <img alt="hand-bear" src="assets/images/M6-8/hand-bear.jpg"
                          style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:27px;"
                          width="27">
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="tel:19001519"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-call" src="assets/images/M6-8/link-call.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.messenger.com/t/similacvietnam"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-chat" src="assets/images/M6-8/link-chat.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </th>
              <th style="width: 182px;text-align:right;font-size:0;line-height:0;" width="182" valign="top">
                <img alt="bear" src="assets/images/M6-8/bear.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:182px;"
                  width="182">
              </th>

            </tr>
          </tbody>
        </table>
      </td>
    </tr>



    <tr>
      <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

        <p
          style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
          Nhấn
          <a href="#" target="_blank" style="color: #000000; text-decorate:underline;">unsubscribe</a>
          đề từ chối nhận thông tin
          <br>
          Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
        </p>
      </td>
    </tr>

  </tbody>
</table>
{% endblock %}