{% extends "./_templates/layout.twig" %}
{% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive"
  style="width: 600px;background-color:#ffffff;" width="600">
  <tbody>
    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M5.5A/banner.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>


    <tr class="section-2" style="text-align: center;">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
          <tbody>
            <tr>
              <th style="font-size: 0;line-height:0;width:80px;text-align:right;" valign="top">
                <img alt="heart" src="./assets/images/M5.5A/heart.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:18px;"
                  width="18">
              </th>
              <th style="width: 440px;background-color:#ffffff;" valign="top">
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">

                  Bé yêu gần 6 tháng tuổi của mẹ đã biết ê a theo lời mẹ nói và bắt đầu giai đoạn khám phá thế giới xung
                  quanh mình rồi phải không? Ở mốc 6 tháng đầu đời, não bộ của bé tiếp tục phát triển mạnh. Bé đang cần
                  bổ sung nhiều DHA,
                  hỗ trợ phát triển thị giác, trí não đó mẹ.
                </p>

                <img alt="SPACE" src="./assets/images/M5.5A/space.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:320px;"
                  width="320">
              </th>
              <th style="font-size: 0;line-height:0;width:80px;">
                &nbsp;
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="section-2" style="text-align: center;">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
          <tbody>
            <tr>
              <th style="font-size: 0;line-height:0;width:80px;text-align:right;" valign="top">
                <img alt="heart" src="./assets/images/M5.5A/heart.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:18px;"
                  width="18">
              </th>
              <th style="width: 440px;background-color:#ffffff;" valign="top">
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Tuy nhiên, mẹ lưu ý, chỉ mình dưỡng chất DHA thôi thì chưa đủ. Bé cần được cung cấp Lutein và vitamin
                  E tự nhiên để giúp bảo vệ màng tế bào và bảo vệ DHA khỏi bị oxy hoá.
                  Vì cơ thể bé không tự tổng hợp được 3 dưỡng chất này,
                  nên mẹ cần có chế độ ăn hợp lý khi cho con bú hoặc lựa chọn giải pháp bổ sung cho con có đầy đủ bộ 3
                  dưỡng chất vàng DHA, Lutein và Vitamin E tự nhiên, giúp bé hấp thu DHA tốt hơn và phát triển thông
                  minh nhé.



                </p>

                <img alt="SPACE" src="./assets/images/M5.5A/space.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:320px;"
                  width="320">
              </th>
              <th style="font-size: 0;line-height:0;width:80px;">
                &nbsp;
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>


    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M5.5A/coner-midle.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>
    <tr class="section-2" style="background: #bce3ff" bgcolor="#ffffff">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#bce3ff">
          <tbody>
            <tr>
              <th style="width: 25px;text-align:left;line-height:0;font-size:0;" width="25" valign="top">
                &nbsp;
              </th>
              <th valign="top">
                <p
                  style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #347eb5;margin-top:12px;margin-bottom:10px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                  Tìm hiểu thông tin khoa học về bổ sung dinh dưỡng giúp bé phát triển trí não ngay từ những năm tháng đầu đời tại:
                </p>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="https://similac.com.vn/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-site" src="assets/images/M5.5A/link-site.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.facebook.com/similacvietnam/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-face" src="assets/images/M5.5A/link-face.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th style="width: 27px;">&nbsp;
                      </th>
                      <th style="width: 336px">
                        <p
                          style="text-transform:uppercase;font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #347eb5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                          Để được tư vấn trực tiếp
                        </p>
                      </th>
                      <th style="text-align:right; width:27px;" valign="top">
                        <img alt="hand-bear" src="assets/images/M5.5A/hand-bear.jpg"
                          style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:27px;"
                          width="27">
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="tel:19001519"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-call" src="assets/images/M5.5A/link-call.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.messenger.com/t/similacvietnam"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-chat" src="assets/images/M5.5A/link-chat.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </th>
              <th style="width: 182px;text-align:right;font-size:0;line-height:0;" width="182" valign="top">
                <img alt="bear" src="assets/images/M5.5A/bear.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:182px;"
                  width="182">
              </th>

            </tr>
          </tbody>
        </table>
      </td>
    </tr>


    
    <tr>
      <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

        <p
          style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-align:center;">
          Nhấn
          <a href="#" target="_blank" style="color: #000000; text-decorate:underline;">unsubscribe</a>
          đề từ chối nhận thông tin
          <br>
          Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
        </p>
      </td>
    </tr>

  </tbody>
</table>
{% endblock %}