{% extends "./_templates/layout.twig" %}
{% block page %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive" style="width: 600px;background-color:#ffffff;" width="600">
        <tbody>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="" src="./assets/images/M5.5B/banner.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>


            <tr class="section-2" style="text-align: center;background-color:#eef8fd;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:79px;text-align:right;" valign="top">
                                    <img alt="coner1" src="assets/images/M5.5B/coner1.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:79px" width="79">
                                </th>
                                <th style="width: 431px;background-color:#eef8fd;" valign="top">
                                    <p style="font-family:Arial,sans-serif;font-size: 15px;line-height:22px;color: #347eb5;margin-top:15px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: left;">
                                        Trong những tháng đầu đời, hệ miễn dịch của bé yêu chưa hoàn thiện và còn khá non yếu. Nếu mẹ tập trung tăng cường hệ miễn dịch cho bé trong giai đoạn “cửa sổ vàng” này, bé sẽ có sức đề kháng tốt trong tương lai.
                                    </p>
                                    <p style="font-family:Arial,sans-serif;font-size: 15px;line-height:22px;color: #347eb5;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: left;">
                                        Tham khảo ngay 2 cách đơn giản giúp tăng cường hệ miễn dịch của bé mẹ cần biết:


                                    </p>
                                    <img alt="SPACE" src="./assets/images/M5.5B/space-sky.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:431px;" width="431">
                                </th>
                                <th style="font-size: 0;line-height:0;width:90px;text-align:right;" valign="top">
                                    <img alt="coner2" src="assets/images/M5.5B/coner2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:90px" width="90">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="" src="./assets/images/M5.5B/coner-top.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:121px;text-align:right;" valign="top">
                                    <img alt="coner3" src="assets/images/M5.5B/coner3.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:121px" width="121">
                                </th>
                                <th style="width: 439px;background-color:#ffffff;" valign="top">
                                    <p style="font-family:Arial,sans-serif;font-size: 15px;line-height:22px;color: #347eb5;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: left;">
                                        Nuôi con bằng sữa mẹ để bé nhận được HMO – đại dưỡng chất nhiều thứ 3 trong sữa mẹ, đóng vai trò quan trọng giúp hệ tiêu hoá khoẻ mạnh, tăng cường sức đề kháng.
                                    </p>
                                    <img alt="SPACE" src="./assets/images/M5.5B/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:439px;" width="439">
                                </th>
                                <th style="font-size: 0;line-height:0;width:40px;text-align:right;" valign="top">
                                    <img alt="coner4" src="assets/images/M5.5B/coner4.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:40px" width="40">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="" src="./assets/images/M5.5B/coner-midle.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="text-align: center;">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                        <tbody>
                            <tr>
                                <th style="font-size: 0;line-height:0;width:99px;text-align:right;" valign="top">
                                    <img alt="coner5" src="assets/images/M5.5B/coner5.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:99px" width="99">
                                </th>
                                <th style="width: 349px;background-color:#ffffff;" valign="top">
                                    <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #347eb5;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: left;">
                                        Cho bé chế độ ăn dặm đa dạng, bổ sung dần 
                                                                                                                        rau củ quả chứa nhiều vitamin A và C, bổ sung đầy 
                                                                                                                        đủ các dưỡng chất cần thiết cho sự phát triển của bé.
                                    </p>
                                    <img alt="SPACE" src="./assets/images/M5.5B/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:349px;" width="349">
                                </th>
                                <th style="font-size: 0;line-height:0;width:152px;text-align:right;" valign="top">
                                    <img alt="coner6" src="assets/images/M5.5B/coner6.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:152px" width="152">
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                    <img alt="" src="./assets/images/M5.5B/coner-bottom.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
                </td>
            </tr>

            <tr class="section-2" style="background: #fdf6ac" bgcolor="#fdf6ac">
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#fdf6ac">
                        <tbody>
                            <tr>
                                <th style="width: 28px;text-align:left;line-height:0;font-size:0;" width="28" valign="top">
                                     <img alt="coner7" src="assets/images/M5.5B/coner7.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:100% !important;width:28px;" width="28">
                                </th>
                                <th valign="top">
                                    <p style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #347eb5;margin-top:36px;margin-bottom:10px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                                        Tìm hiểu thêm về tầm quan trọng của hệ miễn dịch
                                        <br/>
                                        trong giai đoạn “cửa sổ vàng” của bé tại

                                    </p>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <a href="https://similac.com.vn/" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                                        <img alt="link-site" src="assets/images/M5.5B/link-site.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                    </a>
                                                </th>
                                                <th style="width: 10px"></th>
                                                <th>
                                                    <a href="https://www.facebook.com/similacvietnam/" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                                        <img alt="link-face" src="assets/images/M5.5B/link-face.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;" width="185">
                                                    </a>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <th style="width: 27px;">&nbsp;
                                                </th>
                                                <th style="width: 336px">
                                                    <p style="text-transform:normalS;font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #347eb5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                                                        Để được tư vấn trực tiếp
                                                    </p>
                                                </th>
                                                <th style="text-align:right; width:27px;" valign="top">
                                                    <img alt="hand-bear" src="assets/images/M5.5B/hand-bear.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:27px;" width="27">
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <a href="tel:19001519" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                                        <img alt="link-call" src="assets/images/M5.5B/link-call.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                    </a>
                                                </th>
                                                <th style="width: 10px"></th>
                                                <th>
                                                    <a href="https://www.messenger.com/t/similacvietnam" style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;" target="_blank">
                                                        <img alt="link-chat" src="assets/images/M5.5B/link-chat.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;" width="185">
                                                    </a>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                                <th style="width: 182px;text-align:right;font-size:0;line-height:0;" width="182" valign="top">
                                    <img alt="bear" src="assets/images/M5.5B/bear.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:182px;" width="182">
                                </th>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </tr>


    <tr>
        <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
            <img alt="" src="./assets/images/M5.5B/foot.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
        </td>
    </tr>

    <tr>
        <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

            <p style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
                Nhấn
                <a href="http://cloud.vn.abbottnutrition.com/preferencecenter?uid=%%_subscriberkey%%" target="_blank" style="color: #000000; text-decorate:underline;">unsubscribe</a>
                đề từ chối nhận thông tin
                <br>
                Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
            </p>
        </td>
    </tr>

</tbody></table>{% endblock %}
