{% extends "./_templates/layout.twig" %}
{% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive"
  style="width: 600px;background-color:#ffffff;" width="600">
  <tbody>
    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M3B/banner.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>


    <tr class="section-2" style="text-align: center;">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
          <tbody>
            <tr>
              <th style="font-size: 0;line-height:0;width:75px;text-align:right;" valign="top">
                <img alt="heart" src="./assets/images/M3B/heart.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:18px;"
                  width="18">
              </th>
              <th style="width: 450px;background-color:#ffffff;" valign="top">
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Sữa mẹ có chứa dưỡng chất tăng sức đề kháng là Human Milk Oligosaccharides (HMO) tốt cho sức khoẻ
                  đường ruột, hỗ trợ hệ miễn dịch cho bé. HMO là thành phần nhiều thứ ba trong sữa mẹ, sau lactose và
                  chất béo. HMO bảo vệ bé theo 3 cách:
                </p>

                <img alt="SPACE" src="./assets/images/M3B/space.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:450px;"
                  width="450">
              </th>
              <th style="font-size: 0;line-height:0;width:75px;">
                &nbsp;
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M3B/coner-midle.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>


    <tr class="section-2" style="text-align: center;">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
          <tbody>
            <tr>
              <th style="font-size: 0;line-height:0;width:140px;text-align:right;" valign="top">
                <img alt="heart" src="./assets/images/M3B/heart.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:18px;"
                  width="18">
              </th>
              <th style="width: 320px;background-color:#ffffff;" valign="top">
                <p
                  style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #347eb5;margin-top:5px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Vì vậy, cách tốt nhất để mẹ bảo vệ bé khỏi
                  các mầm bệnh đang chực chờ là nuôi con hoàn toàn
                  bằng sữa mẹ, bổ sung HMO cho con hằng ngày.


                </p>

                <img alt="SPACE" src="./assets/images/M3B/space.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:320px;"
                  width="320">
              </th>
              <th style="font-size: 0;line-height:0;width:140px;">
                &nbsp;
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M3B/coner-bottom.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>

    <tr class="section-2" style="background: #bce3ff" bgcolor="#ffffff">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#bce3ff">
          <tbody>
            <tr>
              <th style="width: 25px;text-align:left;line-height:0;font-size:0;" width="25" valign="top">
                &nbsp;
              </th>
              <th valign="top">
                <p
                  style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #347eb5;margin-top:12px;margin-bottom:10px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                  Tìm hiểu về vai trò của các dưỡng chất này trong<br />
                  phát triển trí não của bé tại:
                </p>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="https://similac.com.vn/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-site" src="assets/images/M3B/link-site.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.facebook.com/similacvietnam/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-face" src="assets/images/M3B/link-face.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th style="width: 27px;">&nbsp;
                      </th>
                      <th style="width: 336px">
                        <p
                          style="text-transform:uppercase;font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #347eb5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                          Để được tư vấn trực tiếp
                        </p>
                      </th>
                      <th style="text-align:right; width:27px;" valign="top">
                        <img alt="hand-bear" src="assets/images/M3B/hand-bear.jpg"
                          style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:27px;"
                          width="27">
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="tel:19001519"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-call" src="assets/images/M3B/link-call.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.messenger.com/t/similacvietnam"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-chat" src="assets/images/M3B/link-chat.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </th>
              <th style="width: 182px;text-align:right;font-size:0;line-height:0;" width="182" valign="top">
                <img alt="bear" src="assets/images/M3B/bear.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:182px;"
                  width="182">
              </th>

            </tr>
          </tbody>
        </table>
      </td>
    </tr>



    <tr>
      <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

        <p
          style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
          Nhấn
          <a href="#" target="_blank" style="color: #000000; text-decorate:underline;">unsubscribe</a>
          đề từ chối nhận thông tin
          <br>
          Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
        </p>
      </td>
    </tr>

  </tbody>
</table>
{% endblock %}