{% extends "./_templates/layout.twig" %}
{% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive"
  style="width: 600px;background-color:#ffffff;" width="600">
  <tbody>
    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M11.5A/banner.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>


    <tr class="section-2" style="text-align: center;">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
          <tbody>
            <tr>
              <th style="font-size: 0;line-height:0;width:73px;text-align:right;" valign="top">
                <img alt="coner1" src="assets/images/M11.5A/coner1.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:73px"
                  width="73">
              </th>
              <th style="width: 424px;background-color:#ffffff;" valign="top">
                <p
                  style="font-family:Arial,sans-serif;font-size: 15px;line-height:22px;color: #347eb5;margin-top:15px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Bé yêu của mẹ giờ đang lẫm chẫm những bước tập đi đầu tiên, lê la khắp nhà và khám phá mọi vật xung quanh bằng cách cầm, nắm và bỏ vào miệng… Mẹ hãy lưu ý trông chừng bé thường xuyên, giữ vệ sinh sạch sẽ các vật dụng bé tiếp xúc, giúp bé tăng cường hệ miễn dịch trong thời gian này nhé.
                </p>
                <p
                  style="font-family:Arial,sans-serif;font-size: 15px;line-height:22px;color: #347eb5;margin-top:38px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold; text-transform:normal;text-align: center;">
                  Lúc này, bé sẽ rất cần đến HMO – đại dưỡng chất thứ 3 trong sữa mẹ, giúp bé tăng cường sức đề kháng, phát triển hệ miễn dịch tối ưu. HMO chống lại các tác nhân gây bệnh bám dính, giúp giảm nhiễm trùng đường tiêu hoá và hô hấp ở bé cũng như hỗ trợ hệ tiêu hoá. Vì thế, mẹ chú ý duy trì việc nuôi con bằng sữa mẹ, hoặc lựa chọn bổ sung cho bé HMO và các dưỡng chất giúp hỗ trợ tiêu hoá và phát triển trí não một cách tối ưu nhé. 
                </p>
                <img alt="SPACE" src="./assets/images/M11.5A/space.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:424px;"
                  width="424">
              </th>

              <th style="font-size: 0;line-height:0;width:103px;text-align:right;" valign="top">
                <img alt="coner2" src="assets/images/M11.5A/coner2.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:103px"
                  width="103">
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
        <img alt="" src="./assets/images/M11.5A/coner-midle.jpg"
          style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
      </td>
    </tr>

    <tr class="section-2" style="background: #bce3ff" bgcolor="#ffffff">
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#bce3ff">
          <tbody>
            <tr>
              <th style="width: 25px;text-align:left;line-height:0;font-size:0;" width="25" valign="top">
                &nbsp;
              </th>
              <th valign="top">
                <p
                  style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:18px;color: #347eb5;margin-top:12px;margin-bottom:10px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                  Tìm hiểu thêm thông tin về HMO và cách bổ sung HMO <br/>
                  cho bé yêu khỏe mạnh tại:
                </p>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="https://similac.com.vn/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-site" src="assets/images/M11.5A/link-site.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.facebook.com/similacvietnam/"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-face" src="assets/images/M11.5A/link-face.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th style="width: 27px;">&nbsp;
                      </th>
                      <th style="width: 336px">
                        <p
                          style="text-transform:normal;font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #347eb5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: bold;text-align:center;">
                          Để được tư vấn trực tiếp
                        </p>
                      </th>
                      <th style="text-align:right; width:27px;" valign="top">
                        <img alt="hand-bear" src="assets/images/M11.5A/hand-bear.jpg"
                          style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:27px;"
                          width="27">
                      </th>
                    </tr>
                  </tbody>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <th>
                        <a href="tel:19001519"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-call" src="assets/images/M11.5A/link-call.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </a>
                      </th>
                      <th style="width: 10px"></th>
                      <th>
                        <a href="https://www.messenger.com/t/similacvietnam"
                          style="color: #347eb5; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline; display:block;line-height:0;"
                          target="_blank">
                          <img alt="link-chat" src="assets/images/M11.5A/link-chat.jpg"
                            style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:185px;"
                            width="185">
                        </a>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </th>
              <th style="width: 182px;text-align:right;font-size:0;line-height:0;" width="182" valign="top">
                <img alt="bear" src="assets/images/M11.5A/bear.jpg"
                  style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:182px;"
                  width="182">
              </th>

            </tr>
          </tbody>
        </table>
      </td>
    </tr>



    <tr>
      <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

        <p
          style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
          Nhấn
          <a href="#" target="_blank" style="color: #000000; text-decorate:underline;">unsubscribe</a>
          đề từ chối nhận thông tin
          <br>
          Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
        </p>
      </td>
    </tr>

  </tbody>
</table>
{% endblock %}