{% extends "./_templates/layout.twig" %} {% block page %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-full-reponsive" style="width: 600px;background-color:#fbb7ff;" width="600">
    <tbody>
        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="" src="./assets/images/M-3-5/banner.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>

        <tr class="section-2" style="text-align: center;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0">
                                <img alt="coner1" src="./assets/images/M-3-5/coner1.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:230px;" width="230">
                            </th>
                            <th style="width: 341px;background-color:#ffffff;" valign="top">
                                <p style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #b668b5;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Mẹ có biết trong sữa mẹ chứa đầy đủ những dưỡng chất thiết yếu giúp bé yêu mạnh khỏe và tránh khỏi viêm nhiễm ngay từ những ngày tháng đầu đời?
                                </p>
                                <p style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #b668b5;margin-top:30px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Đó là nhờ sự có mặt của “anh hùng” đại dưỡng chất HMO, giúp hỗ trợ hệ miễn dịch non nớt của bé, giúp bé tăng cường đề kháng và chống lại các vi khuẩn gây bệnh nhiễm trùng.
                                </p>
                                <p style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #b668b5;margin-top:65px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Tiếp tục nuôi con bằng sữa mẹ là cách tốt nhất để mẹ bảo vệ bé.
                                </p>

                                <img alt="SPACE" src="./assets/images/M-3-5/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:341px;" width="341">
                            </th>
                            <th style="font-size: 0;line-height:0">
                                <img alt="coner2" src="./assets/images/M-3-5/coner2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:29px;" width="29">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="" src="./assets/images/M-3-5/coner-top.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>
        <tr class="section-2" style="text-align: center;background-color:#ffffff;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0;width:48px;" width="48">
                                <img alt="coner3" src="./assets/images/M-3-5/coner3.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:48px;" width="48">
                            </th>
                            <th style="width: 501px;background-color:#ffffff;" valign="top">

                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>

                                            <th style="width: 134px;background-color:#ffffff;" valign="top">

                                                <p style="font-family:Arial,sans-serif;font-size: 12px;line-height:15px;color: #b668b5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: center;">
                                                    HMO nuôi dưỡng các vi khuẩn có lợi trong ruột, giúp đường ruột khỏe mạnh và tăng cường sức đề kháng vì 70% hệ miễn dịch nằm ở đường tiêu hóa <sup>(1)</sup>
                                                </p>
                                                <img alt="SPACE" src="./assets/images/M-3-5/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:134px;" width="134">
                                            </th>

                                            <th style="width:44px;font-size: 0;line-height:0" valign="top">
                                                <img alt="line1" src="./assets/images/M-3-5/line1.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:44px;" width="44">
                                            </th>

                                            <th style="width: 139px;background-color:#ffffff;" valign="top">
                                                <p style="font-family:Arial,sans-serif;font-size: 12px;line-height:15px;color: #b668b5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: center;">
                                                    HMO đóng vai trò như mồi nhử để ngăn cản các tác nhân gây bệnh bám dính vào tế bào <sup>(1)</sup>
                                                </p>
                                                <img alt="SPACE" src="./assets/images/M-3-5/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:139px;" width="139">
                                            </th>

                                            <th style="width:39px;font-size: 0;line-height:0" valign="top">
                                                <img alt="line2" src="./assets/images/M-3-5/line2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:39px;" width="39">
                                            </th>

                                            <th style="width: 145px;background-color:#ffffff;" valign="top">
                                                <p style="font-family:Arial,sans-serif;font-size: 12px;line-height:15px;color: #b668b5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: center;">
                                                    Một phần HMO được hấp thu vào trong máu, có tác dụng tăng cường sức đề kháng toàn cơ thể <sup>(1)</sup>
                                                </p>
                                                <img alt="SPACE" src="./assets/images/M-3-5/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:145px;" width="145">
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <p style="font-family:Arial,sans-serif;font-size: 12px;line-height:15px;color: #b668b5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: center;">
                                    (1) “Bode L. Glycobiology. 2012;22:1147-1162”
                                </p>
                            </th>

                            <th style="font-size: 0;line-height:0;width:51px;" width="51">
                                <img alt="coner4" src="./assets/images/M-3-5/coner4.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:51px;" width="51">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="wrap-full-reponsive" style="width:600px; font-size:0;" width="600">
                <img alt="coner-midle" src="./assets/images/M-3-5/coner-midle.jpg" style="width:100%;border:none;outline:none;text-decoration:none;width:600px" width="600">
            </td>
        </tr>

        <tr style="background-color:#ffffff;">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th style="font-size: 0;line-height:0">
                                <img alt="coner5" src="./assets/images/M-3-5/coner5.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:88px;" width="88">
                            </th>
                            <th style="width: 422px;background-color:#ffffff;" valign="top">
                                <img alt="SPACE" src="./assets/images/M-3-5/space.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:1px !important;width:422px;" width="422">
                                <p style="font-family:Arial,sans-serif;font-size: 16px;line-height:24px;color: #b668b5;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:normal;text-align: left;">
                                    Đừng quên tiếp tục chăm sóc cho sức khỏe của mẹ với 2 ly
                                    <img alt="logo" src="./assets/images/M-3-5/logo.jpg" style="vertical-align:top;margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto !important;width:125px;" width="125"> mỗi ngày giúp
                                    đáp ứng nhu cầu dinh dưỡng gia tăng trong giai đoạn cho con bú.
                                </p>
                            </th>
                            <th style="font-size: 0;line-height:0">
                                <img alt="coner6" src="./assets/images/M-3-5/coner6.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:90px;" width="90">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr>
            <td class="wrap-full-reponsive" style="width:100%; font-size:0;line-height:0;" width="100%">
                <img alt="conner-bottom" src="./assets/images/M-3-5/coner-bottom.jpg" style="width:100%;border:none;outline:none;text-decoration:none;" width="100%">
            </td>
        </tr>



        <tr class="section-2" style="background: #fbb7ff" bgcolor="#fbb7ff">
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#fbb7ff">
                    <tbody>
                        <tr>
                            <th style="width: 101px" width="101">
                                &nbsp;
                            </th>
                            <th>
                                <p style="text-transform:uppercase;font-family:Arial,sans-serif;font-size: 16px;line-height:20px;color: #ffffff;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal;text-align:center;">
                                    THEO DÕI FANPAGE ĐỂ ĐƯỢC TƯ VẤN <br />CÁC THÔNG TIN BỔ ÍCH ĐỂ CHĂM SÓC BÉ.
                                </p>
                                <br>

                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <a href="https://similac.com.vn/" style="color: #ffffff; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">
                                                    <img alt="link-site" src="assets/images/M-3-5/link-site.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                </a>
                                            </th>
                                            <th style="width: 10px">
                                            </th>
                                            <th>
                                                <a href="https://www.facebook.com/similacvietnam/" style="color: #ffffff; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">
                                                    <img alt="link-face" src="assets/images/M-3-5/link-face.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:189px;" width="189">
                                                </a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                                <p style="text-transform:uppercase;font-family:Arial,sans-serif;font-size: 16px;line-height:20px;color: #ffffff;margin-top:10px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal;text-align:center;">
                                    Để được tư vấn trực tiếp
                                </p>
                                <br>

                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <a href="tel:19001519" style="color: #ffffff; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">
                                                    <img alt="link-call" src="assets/images/M-3-5/link-call.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                                                </a>
                                            </th>
                                            <th style="width: 10px">
                                            </th>
                                            <th>
                                                <a href="https://www.messenger.com/t/similacvietnam" style="color: #ffffff; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">
                                                    <img alt="link-chat" src="assets/images/M-3-5/link-chat.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:188px;" width="188">
                                                </a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table><br><br>
                            </th>
                            <th style="width: 101px;text-align:right" width="101" valign="bottom">
                                <img alt="coner-br" src="assets/images/M-3-5/coner-br.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important;width:55px;" width="55">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td style="background:#fff;text-align:center;padding:20px 20px 20px 20px">

                <p style="text-align:left;font-family:Arial,sans-serif;font-size: 11px;line-height:20px;color: #000;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-align:center;">
                    Nhấn <a href="#" target="_blank" style="color: #000000; text-decorate:underline;">unsubscribe</a> đề từ chối nhận thông tin <br> Văn phòng đại diện Abbott Laboratories S.A., Số 2 Ngô Đức Kế, phường Bến Nghé, Quận 1, Tp. HCM
                </p>
            </td>
        </tr>

    </tbody>
</table>
{% endblock %}