<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th style="padding-left:22px;padding-right:22px;" class="mb-full link-contact">
                                <a href="https://americanexpress.com/sg/business/customerhub"
                                    style="color: #ffffff; display: inline-block; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 22px; text-decoration: none; text-transform: none;">
                                    Contact Us</a>
                            </th>
                            <th style="padding-left:22px;padding-right:22px;" class="mb-full link-contact">
                                <a href="https://americanexpress.com/sg/privacystatement.html?om_rid=NwjuPR&amp;om_mid=_BcuEqlB9yA2IM2&amp;om_lid=amex7"
                                    style="color: #ffffff; display: inline-block; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 22px; text-decoration: none; text-transform: none;">View
                                    Privacy Statement</a>
                            </th>
                            <th style="padding-left:22px;padding-right:22px;" class="mb-full link-contact">
                                <a href="https://global.americanexpress.com/myca/logon/japa/action?request_type=LogonHandler&amp;DestPage=https%3A%2F%2Fglobal.americanexpress.com%2Fintlocc%2Fauthreg%2Fen_SG%2Fcem_summary.do%3Frequest_type%3Dauthreg%26Face%3Den_SG%26om_rid%3DNwjuPR%26om_lid%3Damex15%26om_mid%3D_BcuEqlB9yA2IM2&amp;Face=en_SG"
                                    style="color: #ffffff; display: inline-block; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 22px; text-decoration: none; text-transform: none;">Update
                                    Email Address</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>