<style>
    @media only screen and (max-width:619px) {
        .border-center {
            width: 100% !important;
            height: 1px;
        }

    }
</style>


<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="bg__gradient"
            style="background-image: url('./assets/images/pack5/gradient.jpg');background-size:100% 100%;padding-top:20px; padding-bottom:20px;width:560px;"
            width="560">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                <tr>
                    <td width="20"></td>
                    <td class="mb-full mb-pd-0 hide-border-right "
                        style="text-align:center;padding-top: 15px;padding-bottom: 15px" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin: 0 auto"
                            width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <p
                                            style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase;text-align:center;margin-bottom:15px;">
                                            BOOST YOUR BUSINESS CASH FLOW
                                        </p>

                                        <p
                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal;text-align:left;">
                                            With up to <strong>51 days<br class="show-mobile" style="display:none;" /> interest-free</strong><sup>^</sup>
                                            on all
                                            purchases<br class="show-mobile" style="display:none;" /> and
                                            <strong>0% interest</strong><sup>*</sup> on<br class="show-mobile" style="display:none;" /> Singapore Airlines
                                            spend over<br class="show-mobile" style="display:none;" />
                                            6 months
                                            with
                                            Pay Small, an<br class="show-mobile" style="display:none;" /> instalment plan by American Express.
                                            <br><br>
                                            For more information, please <br class="show-mobile" style="display:none;" /><a
                                                style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                                                target="_blank"
                                                href="https://americanexpress.com/sg/business/customerhub">click
                                                here</a>.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="20"></td>
                </tr>

            </table>
        </td>
    </tr>
</table>