<style>
    @media only screen and (max-width:619px) {
        .border-center {
            width: 100% !important;
            height: 1px;
        }
    }
</style>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right "
            style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase;">
                                MANAGE YOUR <br />ACCOUNT ANYWHERE
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:15px; padding-bottom:15px;text-align:center;">
                            <img alt="image1" src="./assets/images/pack1/img1.jpg"
                                style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                <a href="https://global.americanexpress.com/myca/logon/japa/action?request_type=LogonHandler&amp;Face=en_SG&amp;DestPage=https%3A%2F%2Fglobal.americanexpress.com%2Fmyca%2Fintl%2Facctsumm%2Fjapa%2FaccountSummary.do%3Frequest_type%3D%26Face%3Den_SG&amp;Face=en_SG"
                                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                                    target="_blank">
                                    Register for an online account</a>
                                and download the
                                <a href="https://americanexpress.com/sg/customer-service/digital/amex-mobile-app.html?linknav=sg-contactless-mobilepay-amexapp-learnmore"
                                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                                    target="_blank">
                                    Amex App</a>
                                to view transactions and access offers on the go.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
        <td class="mb-full mb-pd-0" style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px"
            valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase;text-align:center;">
                                ENABLE OVERSEAS MAGNETIC STRIPE USAGE
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:15px; padding-bottom:15px;text-align:center;">
                            <img alt="image1" src="./assets/images/pack1/img2.jpg"
                                style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                <a href="https://americanexpress.com/sg/overseasmagneticstripe/"
                                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                                    target="_blank">Click
                                    here</a>
                                to activate the <br class="hide-mobile" />magnetic stripe function on<br class="hide-mobile" /> your
                                Card which will allow you<br class="hide-mobile" /> to make swipe transactions<br class="hide-mobile" /> overseas at merchants who<br class="hide-mobile" /> do not
                                accept
                                chip cards.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td height="20" class="hide-mobile" style="height: 20px;"></td>
    </tr>
    <tr>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" height="1" width="100%"></td>
    </tr>
    <tr>
        <td height="20" class="hide-mobile" style="height: 20px;"></td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right "
            style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase;">
                                DISCOVER A WORLD<br /> OF BENEFITS
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:15px; padding-bottom:15px;text-align:center;">
                            <img alt="image1" src="./assets/images/pack1/img3.jpg"
                                style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Your Card entitles you to a<br /> wide range of valuable new<br /> benefits. To discover them all,<br />
                                just
                                <a href="https://americanexpress.com/sg/business/customerhub/"
                                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                                    target="_blank">click
                                    here.</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
        <td class="mb-full mb-pd-0" style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px"
            valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase;text-align:center;">
                                FIRST YEAR HIGHFLYER POINTS BONUS
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:15px; padding-bottom:15px;text-align:center;">
                            <img alt="image1" src="./assets/images/pack1/img4.jpg"
                                style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p
                                style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Earn up to 20,000 bonus<br class="hide-mobile" /> HighFlyer points in your first<br class="hide-mobile" /> year. That’s the equivalent of<br class="hide-mobile" />
                                saving S$200 the next time<br class="hide-mobile" /> you spend with Singapore<br class="hide-mobile" /> Airlines Group. For more<br class="hide-mobile" /> information,
                                <a href="https://americanexpress.com/sg/business/customerhub/"
                                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                                    target="_blank">click
                                    here</a>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-pd-tb-0" style="padding-top:25px;padding-bottom:15px;">
            <hr style="border-top:1px solid #00175a">
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td style="width: 100%; padding-left:25px;padding-right:25px;" width="100%">
            <p
                style="font-family:Arial,sans-serif;font-size: 18px;line-height:1.4;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase; text-align:center;margin-bottom:15px;">
                SINGAPORE AIRLINES HIGHFLYER
            </p>
            <p
                style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal;">
                The frequent flyer programme that <br class="show-mobile" /> allows you to turn business travel<br class="show-mobile" /> into savings.
                <br><br>
                The
                HighFlyer Account linked to the relevant American Express Singapore Airlines Business Credit
                Card has been activated and all HighFlyer points your business earns will be credited to the
                account automatically.
                <br><br>
                For more information,
                <a href="https://singaporeair.com/highflyer"
                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                    target="_blank">click here</a>.
            </p>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-pd-tb-0" style="padding-top:25px;padding-bottom:15px;">
            <hr style="border-top:1px solid #00175a">
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td style="width: 100%;" width="100%">
            <p
                style="font-family:Arial,sans-serif;font-size: 18px;line-height:1.4;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase; text-align:center;margin-bottom:15px;">
                MAXIMISE YOUR SAVINGS
            </p>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="bg__gradient"
            style="background-image: url('./assets/images/pack1/gradient.jpg');background-size:100% 100%;padding-top:20px; padding-bottom:20px;width:560px;"
            width="560">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                <tr>
                    <td class="mb-full mb-pd-0 hide-border-right "
                        style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top"
                        width="279">
                        <table  border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto"
                            width="229">
                            <tbody>
                                <tr>
                                    <td>
                                        <p
                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                            Earn up to
                                                <b>8.5</b>
                                                HighFlyer Singapore Airlines Group flights (worth up to 8.5% cashback).
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
                    <td class="mb-full mb-pd-0"
                        style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top"
                        width="279">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto"
                            width="229">
                            <tbody>
                                <tr>
                                    <td>
                                        <p
                                            style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                            Earn
                                                <b>1.8</b>
                                                HighFlyer points per S$1 spent on all other eligible spend (worth 1.8%
                                                cashback).
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td style="padding-top:15px;padding-bottom:15px;text-align:center;">
            <p
                style="font-family:Arial,sans-serif;color:#00175a;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal;">
                For more information,
                <a href="https://americanexpress.com/sg/business/customerhub"
                    style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;"
                    target="_blank">click here</a>.
            </p>
        </td>
    </tr>
</table>