<style>
    @media only screen and (max-width:619px) {
        .border-center {
            width: 100% !important;
            height: 1px;
        }

    }
</style>


<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td height="20" style="height: 20px;"></td>
    </tr>
    <tr>
        <td class="mb-full border-center" height="1" style="width: 1px;background-color: #00175a" width="100%"></td>
    </tr>
    <tr>
        <td height="20" style="height: 20px;"></td>
    </tr>
    <tr>
        <td class="wrap-reponsive" style="padding-bottom: 20px;padding-top: 10px;background:#ffffff;width:560px" width="560">
            <p style="font-family:Arial,sans-serif;font-size: 18px;line-height:1.4;color: #333333;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; text-align:center; text-transform:uppercase;">
                BENEFITS TO HELP YOU RELAX AND RECHARGE
            </p>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right " style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack4/pack4_img1.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Enjoy a complimentary<br /> night’s stay every year,<br /> and dining discounts<br /> courtesy of
                                <strong>Accor Plus</strong><br />
                                across Asia Pacific.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
        <td class="mb-full mb-pd-0" style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack4/pack4_img2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Enjoy
                                <strong>Priority Pass</strong><br />
                                membership with two<br /> complimentary visits per<br /> year for you  or a guest.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td height="20" style="height: 20px;"></td>
    </tr>
    <tr>
        <td class="mb-full border-center" height="1" style="width: 1px;background-color: #00175a" width="100%"></td>
    </tr>
    <tr>
        <td height="20" style="height: 20px;"></td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right " style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack4/pack4_img3.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Travel with peace of mind thanks to
                                <strong>complimentary insurance
                                                                        coverage</strong>.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
        <td class="mb-full mb-pd-0" style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack4/pack4_img4.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Take to the road with your complimentary
                                <strong>Hertz Gold Plus</strong>
                                membership.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td height="20" style="height: 20px;"></td>
    </tr>
    <tr>
        <td class="mb-full border-center" height="1" style="width: 1px;background-color: #00175a" width="100%"></td>
    </tr>
    <tr>
        <td height="20" style="height: 20px;"></td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right " style="text-align:center;width: 300px;padding-top: 0px;padding-bottom: 15px" valign="top" width="300">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 300px;margin: 0 auto" width="300">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack4/pack4_img5.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Get on the fast track to
                                <strong>KrisFlyer Elite Gold</strong>
                                <sup>#</sup>
                                <br>
                                status in your
                                                                    first year
                                                                    of
                                                                    Card Membership.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">

    <tr>
        <td align="center">
            <a href="https://americanexpress.com/sg/business/customerhub" style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">
                <img alt="iphone" height="45" src="./assets/images/pack4/pack4_cta.jpg" style="border:none;display:inline-block;outline:none;text-decoration:none;width:168px;height:45px;margin:10px;" title="" width="168">
            </a>
        </td>
    </tr>
    <tr>
        <td heigh="50"></td>
    </tr>
</table>
