<style>
    @media only screen and (max-width:619px) {
        .border-center {
            width: 100% !important;
            height: 1px !important;
            padding-bottom: 1px !important;
        }

    }
</style>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="bg__gradient" style="background-image: url('./assets/images/pack5/gradient.jpg');background-size:100% 100%;padding-top:20px; padding-bottom:20px;width:560px;" width="560">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                <tr>
                    <td class="hide-mobile" width="30"></td>
                    <td class="mb-full mb-pd-0 hide-border-right " style="text-align:center;padding-top: 15px;padding-bottom: 15px" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin: 0 auto" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase;text-align:center;">
                                            KEEP ON EARNING
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 15px;padding-bottom: 15px;text-align:center;">
                                        <img alt="fly" class="hide-mobile" src="./assets/images/pack5/pack5_img1.png" style="width:101px;border:none;outline:none;text-decoration:none;" width="101">
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 67px;margin: 0 auto" width="67">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        align="center">
                                                        <!--[if !mso]><!-->
                                                        <img
                                                        alt="fly" class="show-mobile" src="./assets/images/pack5/pack5_img1_m.png" style="width:67px;border:none;outline:none;text-decoration:none;display: none;" width="67">
                                                    <!--<![endif]-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                            Enjoy another bonus of<br class="show-mobile" style="display:none;"/>
                                            15,000 HighFlyer points<br class="show-mobile" style="display:none;"/>
                                            with an
                                            <br class="hide-mobile"/>accumulated spend of<br class="show-mobile" style="display:none;"/>
                                            S$10,000 with Singapore Airlines
                                            <br class="show-mobile" style="display:none;"/>Group<br class="hide-mobile"/>
                                            in the next 12 months.<br><br>
                                            For more information, please
                                            <a href="https://americanexpress.com/sg/business/customerhub" style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">click here.</a>

                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="hide-mobile" width="30"></td>
                </tr>

            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr class="section-5">
        <td class="wrap-reponsive" style="padding-bottom: 20px;padding-top: 30px;background:#ffffff;width:560px" width="560">
            <p style="font-family:Arial,sans-serif;font-size: 17px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px; font-weight: normal; text-transform:uppercase; text-align:center;">
                BENEFITS YOU WILL CONTINUE TO ENJOY
            </p>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right " style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack5/pack5_img2.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Enjoy a complimentary<br class="hide-mobile"/>
                                night’s<br class="show-mobile" style="display:none;"/>
                                stay every year, and dining<br class="show-mobile" style="display:none;"/>
                                discounts courtesy of
                                <strong>Accor Plus</strong><br class="show-mobile" style="display:none;"/>
                                across Asia Pacific.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
        <td class="mb-full mb-pd-0" style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack5/pack5_img3.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Enjoy
                                <strong>Priority Pass</strong><br/>
                                membership with two<br/>
                                complimentary visits per<br/>
                                year for you or a guest.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr class="hide-mobile">
        <td height="20" style="height: 20px;"></td>
    </tr>
    <tr>
        <td class="mb-full border-center" height="1" style="width: 1px;background-color: #00175a" width="100%"></td>
    </tr>
    <tr class="hide-mobile">
        <td height="20" style="height: 20px;"></td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <tr>
        <td class="mb-full mb-pd-0 hide-border-right " style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack5/pack5_img4.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Travel with peace of mind thanks to
                                <strong>complimentary insurance coverage.</strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="mb-full border-center" style="width: 1px;background-color: #00175a" width="1"></td>
        <td class="mb-full mb-pd-0" style="text-align:center;width: 279px;padding-top: 15px;padding-bottom: 15px" valign="top" width="279">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 229px;margin: 0 auto" width="229">
                <tbody>
                    <tr>
                        <td style="text-align:center;">
                            <img alt="image1" src="./assets/images/pack5/pack5_img5.jpg" style="margin:0 auto;border:none;display:inline-block;outline:none;text-decoration:none;height:auto!important">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color: #00175a;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:left;">
                                Take to the road with<br/>
                                your complimentary<br/>
                                <strong>Hertz Gold Plus</strong><br/>
                                membership.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center">
            <a href="https://americanexpress.com/sg/business/customerhub" style="color: #006fce; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration:underline;" target="_blank">
                <img alt="iphone" height="45" src="./assets/images/pack5/pack5_cta.jpg" style="border:none;display:inline-block;outline:none;text-decoration:none;width:168px;height:45px;margin:10px;" title="" width="168">
            </a>
        </td>
    </tr>
    <tr>
        <td heigh="50"></td>
    </tr>
</table>
