<table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
    <thead style="background-color: #c9e5d0;">
        <tr style="background-color: #c9e5d0;" style="width:100%" width="100%">
            <th align="left" style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px;width: 180px">
                Date</th>
            <th align="left" style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                Location</th>
            <th align="left" style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px;width: 100px">
                Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                From 5 - 9th March 2019</td>
            <td style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                Fontainebleau, France</td>
            <td style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                Filling Fast</td>
        </tr>
        <tr style="background-color: #f3f9f5">
            <td style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                From 5 - 9th March 2019</td>
            <td style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                Fontainebleau, France</td>
            <td style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:15px;padding-right:15px">
                Limited Seat</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="font-family:Arial,sans-serif;font-size: 14px;line-height:20px;color:#515a5f;text-align:left;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">
                Lorem Ipsum is simply dummy text of the printing and
                                                                                                                                                                                typesetting industry.</td>
        </tr>
    </tfoot>
</table>
