<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-header" style="width:100%" width="100%">
    <tbody>
        <tr>
            <td style="text-align: left;">
                <p
                    style="font-family:Arial,sans-serif;font-size: 13px; line-height: 16px;color: #515a5f;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;">
                    Hello, %%FULLNAME%%
                </p>
            </td>
            <td  style="text-align: right;">
                <a class="bp-login-button" href="https://americanexpress.com/sg/" style="background: #ffffff; border: 1px solid #006fcf; border-radius: 3px; color: #006fcf; display: inline-block; font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; line-height: 100%; margin: 0px; padding: 11px 12px 12px; text-decoration: none; text-transform: none;" target="_blank">Log in</a>
            </td>
        </tr>
    </tbody>
</table>