<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrap-reponsive">
    <tbody>
        <tr>
            <td style="padding-top:30px;padding-bottom:30px;">
                <img alt="INSEAD Executive Education" class="logo" src="./assets/images/logo.png">
                aczxvxc
            </td>
            <td style="padding-top:30px;padding-bottom:30px;vertical-align: top;text-align:right">
                <a href="http://fe.asiadigitalhub.com/edms/insead/email-template/#" style="color: #00684b;font-family:Arial,sans-serif;font-size:10px;">Teaser Text</a>
                |
                <a href="http://fe.asiadigitalhub.com/edms/insead/email-template/#" style="color: #00684b;font-family:Arial,sans-serif;font-size:10px;">View in Browser</a>
            </td>
        </tr>
    </tbody>
</table>
